@model BigSchool_NhutNguyet.ViewModels.CoursesViewModel
@{ 
    ViewBag.Title = "Attending";
    Layout = "~/View/Shared/_Layout.cshtml";
}
<h2>Attending</h2>
<ul>
    @foreach (var course in Model.UpcommingCourses)
            {
                <li></li>
            }
</ul>
